@import url('/fonts/milliard-cufonfonts-webfont/style.css');

:root {
    --fuente: 'Milliard Book', sans-serif;
    --verde: #4bcd91;
    --rojo: #fb6e6e;
    --blanco: #fff;
    --negro: #000;
    --gris: #444654;
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

body.dark-mode {
    background-color: #16181c;
}



/*-------- Contenedor de las columnas --------*/
.principal-container {
    margin-top: 100px;
}

/* Propiedad en comun de cada columna */
.side-box--left,
.side-box--center,
.side-box--right {
    background-color: var(--blanco);
    color: var(--negro);
    height: 700px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.side-box--left.dark-mode,
.side-box--center.dark-mode,
.side-box--right.dark-mode {
    background-color: var(--gris);
    color: var(--blanco);
    transition: 0.5s ease-in-out;
}


/*-------- Propiedades de columnas laterales --------*/

.side-box--center{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

.side-box--left{
    box-shadow:  0 0 10px 2px rgba(251, 110, 110, 0.4);
}

.side-box--right{
    box-shadow: 0 0 10px 2px rgba(75, 205, 145, 0.4);
}

/* Propiedad de cada item del listado */
.list-item {
    font-family: var(--fuente);
}

/* Propiedades de botones */
.btn-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.btn-change.left,
.btn-change.right {
    background-color: rgb(253, 241, 225);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-left: 10px;
    transition: 0.4s ease-in-out;
}

.btn-change.left {
    background-image: url('./src/img/arrow-left.png');
}

.btn-change.left:hover {
    background-color: var(--verde);
}

.btn-change.right {
    background-image: url('./src/img/arrow-right.png');
}

.btn-change.right:hover {
    background-color: var(--rojo);
}

/* Propiedad de scroll automatico */
.side-box--left,
.side-box--right {
    justify-content: center;
    overflow-y: auto;
}

.side-box--left::-webkit-scrollbar,
.side-box--right::-webkit-scrollbar {
    width: 0.6em;
    border-radius: 4px;
}

/* Propiedades pista de desplazamiento */
.side-box--left::-webkit-scrollbar-track,
.side-box--right::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

/* Propiedades indicador de posicion de la barra de desplazamiento */
.side-box--left::-webkit-scrollbar-thumb,
.side-box--right::-webkit-scrollbar-thumb {
    background-color: rgb(187, 186, 186);
    border-radius: 4px;
}

/* Color al pasar cursor en el indicador de posicion columna izquierda */
.side-box--left::-webkit-scrollbar-thumb:hover {
    background-color: var(--rojo);
}

/* Color al pasar cursor en el indicador de posicion columna derecha */
.side-box--right::-webkit-scrollbar-thumb:hover {
    background-color: var(--verde);
}


/*-------- Propiedades de Header, columna central --------*/
/* Header de columna central*/
.div-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Iconos laterales de Header */
.side-icon {
    width: 40px;
    height: 40px;
    filter: invert(0.5) brightness(1.5);
    transition: 0.4s ease-in-out;
}

.side-icon.sun:hover{
    transform: rotate(180deg);
}

.side-icon:hover {
    cursor: pointer;
    filter: invert(0.4)
}

/* Logo de Header */
.logo {
    width: 40%;
    height: 40%;
    padding: 5px;
    margin-top: 15px;
    transition: 0.4s ease-in-out;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*-------- Propiedades de Cuerpo, columna central --------*/
/* Contenedor de imagen, informacion y botones */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

/* Imagen de perro */
.img-perro {
    display: flex;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 4px 8px 1px 1px rgba(0, 0, 0, 0.264),
        7px 15px 2px 1px rgba(0, 0, 0, 0.264);

}

/* Propiedades en comun de informacion de perro. */
.name-age,
.ubication,
.distance,
.lorem {
    font-family: var(--fuente);
    text-align: left;
}

/* Propiedad de informacion nombre y edad */
.name-age {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 800;
    color: var(--negro);
}

.name-age.dark-mode {
    color: var(--blanco);
}

/* Propiedades en comun ubicacion y distancia */
.ubication,
.distance {
    display: flex;
    align-items: center;
    /* alinea verticalmente */
    font-size: 15px;
    font-weight: 600;
    color: #797979;
}

.ubication.dark-mode,
.distance.dark-mode {
    color: #bfbdbd;
}


/* Propiedad en comun de iconos de ubicacion y distancia */
.icon-ubication,
.icon-distance {
    display: flex;
    align-items: center;
}

.icon-ubication.dark-mode,
.icon-distance.dark-mode{
    filter: invert(1);
}


/* Propiedad en comun de imagen de iconos de ubicacion y distancia */
.icon-ubication img,
.icon-distance img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

/* Propiedad de descripcion perfil (LoremIpsum) */
.lorem {
    margin-top: 10px;
}

/* Propiedades de contenedor de botones */
.btns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Propiedad de cada boton */
.btn {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: whitesmoke;
    transition: 0.4s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(186, 184, 184);
}

.btn.disabled {
    opacity: 0.5;
    cursor: wait;
}

/* Propiedad de boton not-like */
.not-like {
    background-image: url("../src/img/dont-like.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Propiedad de boton like */
.like {
    background-image: url("../src/img/like.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}